<div class="temp-home">

    <div class="section-menu">
        <div class="menu-top-logo">
            <img src="../../assets/imagenes/logo-white.png" alt="">
        </div>

        <div class="menu-nav">
            <button><i class="icon icon-home"></i></button>
            <button><i class="icon icon-store"></i></button>
            <button><i class="icon icon-message"></i></button>
            <button><i class="icon icon-bell"></i></button>
            <button><i class="icon icon-profile"></i></button>
        </div>

        <div >
            a
        </div>
    </div>

    <div class="section-main">
        <p>home works!</p>
    </div>

</div>
